---
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import BlogPost from "../../layouts/BlogPost.astro";

type Props = CollectionEntry<"python">;

async function buscarPostPorId(id) {
  const entradas = await getCollection('python');
  const post = entradas.find(entrada => entrada.id === id);
  return post;
}

const rutaProgramacionEstructurada = 'programacion-estructurada';
const rutaProgramacionOrientadaAObjetos = 'programacion-orientada-a-objetos';

const indexProgramacionEstructurada = await buscarPostPorId(rutaProgramacionEstructurada);
const indexProgramacionOrientadaAObjetos = await buscarPostPorId(rutaProgramacionOrientadaAObjetos);

const baseUrl = import.meta.env.ASTRO_BASE;

---

<BlogPost
  title="Cursos de Python"
  description="Cursos para aprender programación imperativa y orientada a objetos"
  pubDate={new Date("March 27 2025")}
  updatedDate={new Date("March 27 2025")}
  heroImage={`${baseUrl}/blog-placeholder-python.jpg`}
  heroWidth={400}
  heroHeight={200}
  hideImage={true}
>
  <p>
    El objetivo principal de estos dos cursos es el de enseñar las herramientas
    que van a servir como pilares para que el alumno pueda aprender a resolver
    problemas. Estos problemas, forzarán al alumno a que piense la solución y a
    que tenga sentido crítico, si la problemática a resolver no está
    completamente definida.
  </p>

  <div class="container">
    <BlogPostPreview post={indexProgramacionEstructurada} baseHref="/python"/>
    <BlogPostPreview post={indexProgramacionOrientadaAObjetos} baseHref="/python"/>
  </div>
</BlogPost>

<style>

	.container{
		display: flex;
		flex-direction: row;
		gap: 20px;
		@media (max-width: 720px) {
			flex-wrap: wrap;
		}
	}
</style>
