---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <base href="/programando-con-la-fefa" />
  </head>
  <body>
    <Header />
    <main>
      <h1>Acerca de mi</h1>
      <div class="container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
          ultricies leo integer malesuada nunc vel risus commodo viverra.
          Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis
          eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum.
          Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
          egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum
          lorem. Varius sit amet mattis vulputate enim. Habitasse platea
          dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi.
          Dictumst quisque sagittis purus sit amet.
        </p>

        <img src="/programando-con-la-fefa/about-me1.jpg" alt="" />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  html {
    height: auto;
  }
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  img {
    height: 720px;

    @media (max-width: 720px) {
      display: none;
    }
  }

  .container-texts {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
	align-items: flex-start;
  }

  h1 {
    text-align: center;
    margin-bottom: 16px;
  }
  p {
    font-size: 18px;
    flex: 1;
  }
</style>
