---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

function calcularEdad(fechaNacimiento) {
    const fechaNac = new Date(fechaNacimiento);
    const hoy = new Date();
    
    let edad = hoy.getFullYear() - fechaNac.getFullYear();
    const mes = hoy.getMonth() - fechaNac.getMonth();
    const dia = hoy.getDate() - fechaNac.getDate();
    
    if (mes < 0 || (mes === 0 && dia < 0)) {
        edad--;
    }
    
    return edad;
}

const fechaNacimiento = "1997-10-22"; 
const cantidadAños = calcularEdad(fechaNacimiento)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <base href="/programando-con-la-fefa" />
  </head>
  <body>
    <Header />
    <main>
      <h1>Acerca de mi</h1>
      <div class="container">
        <img src="/programando-con-la-fefa/about-me1.jpg" alt="Federico Nery en su viaje a España posando con una armadura de caballero decorada con Halloween" />
        <p>
          Hola, soy Federico, tengo {cantidadAños} años.
          Soy desarrollador FullStack hace aproximadamente {new Date().getFullYear() - 2019} años y 
          también fui profesor (Técnicas de Programación y Programación Orientada a Objetos) durante 3 años en CFP/Secundaria.
          El objetivo de haber hecho este blog, es el de compartir todos mis conocimientos y mis experiencias, como así también compartirles todo mi material recopilado y editado, 
          para que puedan usarlo y compartirlo.
          Actualmente trabajo como desarrollador Frontend y es el área donde me especializo, con React y NextJS.
          Pero también he trabajado y aprendido por mi cuenta, distintas tecnologías, tales como: Flutter, Astro, NestJS, .Net, Flask, Socket IO, etc.
          Acá vas a encontrar guías de ejercicios, presentaciones y apuntes, también distintas plantillas de código o "gist" para implementar proyectos desde cero.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  html {
    height: auto;
    @media (max-width: 720px) {
      height: 100%;
    }
  }
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  img {
    float: left;
    margin-right: 15px;
    height: 720px;
    @media (max-width: 720px) {
      display: none;
    }
  }

  .container-texts {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    margin-bottom: 16px;
  }
  p {

  }
</style>
