---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <base href="/programando-con-la-fefa" />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hola Programador 👨‍💻 o Programadora 👩‍💻</h1>
      <p>
        Este es mi blog de programación donde voy a compartir material que
        recopile y que edité a lo largo de mi carrera como programador y como
        profesor. El material creado puede ser utilizado tanto por alumnos como
        por profesores, considero que hoy en día hay muchisima información sobre
        programación, pero también creo que falta cierto orden para recopilar
        ese material, subdividido en temas, con ejercicios específicos por tema
        y que sea amigable tanto para el alumno como para el profesor al momento
        de leer por su cuenta. Este material es <strong>libre y gratuito</strong
        >, es para vos y para cualquier interesado. Si tenés alguna sugerencia u
        observación sobre el material, algún tema o tecnología que quieras que
        aborde, no dudes en contactarme por mail a:
        <code><strong>fedegnery@gmail.com</strong> </code>
      </p>
    </main>
    <Footer />
  </body>
</html>

<style>
  html{
    height: 100%;
  }
  body {
	display: flex;
	flex-direction: column;
  }
</style>
